.todo-lists-container{
    .list-names{
        margin-top: 20px;
        // background-color: red;
        padding: 5px 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        img{
            width: 1.6em;
            height: 1.6em;
            transform: translateZ(0);
        }
        .todolist-box{
            background-color: #F0E9D2;
            padding: 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #678983;
            overflow: hidden;
            &:hover{
                background-color: #E6DDC4;
                cursor: pointer;
            }
            >p{
                width: 95%;
                text-align: center;
                font-size: 1.1em;
                line-height: 1.6em;
                text-transform: capitalize;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}